<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>me.lucky.launch-proxy</string>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/sbin/launch-proxy</string>
      <string>-d</string>
      <string>:5350</string>
    </array>
    <key>UserName</key>
    <string>nobody</string>
    <key>GroupName</key>
    <string>nogroup</string>
    <key>StandardOutPath</key>
    <string>/dev/null</string>
    <key>StandardErrorPath</key>
    <string>/dev/null</string>
    <key>Sockets</key>
    <dict>
      <key>tcp4</key>
      <dict>
        <key>SockNodeName</key>
        <string>127.0.0.1</string>
        <key>SockServiceName</key>
        <string>domain</string>
        <key>SockType</key>
        <string>stream</string>
      </dict>
      <key>udp4</key>
      <dict>
        <key>SockNodeName</key>
        <string>127.0.0.1</string>
        <key>SockServiceName</key>
        <string>domain</string>
        <key>SockType</key>
        <string>dgram</string>
      </dict>
    </dict>
  </dict>
</plist>
