[Unit]
Requires=nginx.service
After=nginx.service
Requires=proxy-to-nginx.socket
After=proxy-to-nginx.socket
JoinsNamespaceOf=nginx.service

[Service]
ExecStart=/usr/local/sbin/init-proxyd -d :8080
PrivateTmp=yes
PrivateNetwork=yes
